@import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&family=Inter:wght@200;300;400;500;600;700&family=Poppins:wght@200;300;600;800&family=Roboto:wght@700&display=swap');

body {
  font-family: 'Poppins', serif;
}

.scores p:nth-child(odd) {
  background: rgb(215, 214, 214);
}

.scores p:nth-child(even) {
  background: #fff;
}

header {
  display: flex;
  justify-content: center;
}

.score-head {
  display: flex;
  width: 120%;
}

.score-head button {
  height: 5%;
  align-self: center;
  margin-left: 10%;
}

.board {
  display: flex;
  justify-content: space-around;
}

.add-score {
  display: flex;
  flex-direction: column;
}
